.list {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   align-items: stretch;
}

.title {
  font-weight: 500;
  margin-bottom: 10px;
  text-align: center;
}
.item {
   display: flex;
   flex-direction: column;
   margin-bottom: 20px;
   padding: 10px 15px;
   width: calc((100% - 30px) / 2);
   border-radius: 20px;
   box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.15);
   min-height: 200px;
}
.item:not(:nth-child(2n)) {
  margin-right: 30px;
}

.content{
   display: flex;
   flex-direction: column;
}
.info {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.info p:not(:last-child) {
  margin-bottom: 10px;
}
.inputContent {
  margin-left: auto;
  position: relative;
}

.inputContent input[type='radio'] {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
}

.inputContent label {
  color: var(--greenNormal);
  font-weight: 500;
}

.inputContent label:before {
  content: " ";
  display: inline-block;
  position: relative;
  top: 5px;
  margin: 0 5px 0 0;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  border: 1px solid var(--greenNormal);
  background-color: transparent;
}

.inputContent input[type=radio]:checked + label:after {
  border-radius: 14px;
  width: 14px;
  height: 14px;
  position: absolute;
  top: 9px;
  left: 4px;
  content: " ";
  display: block;
  background: var(--greenNormal);
  z-index: 1000;
}

.inputContent input[type=radio]:checked + label::before {
  border: 1px solid var(--greenNormal);
}
