@font-face {
  font-family: 'Roboto';
  src: local('Roboto'), local('Roboto-Regular'), url('./assets/fonts/Roboto.woff2') format('woff2'), url('./assets/fonts/Roboto.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto Medium'), local('Roboto-Medium'), url('./assets/fonts/Robotomedium.woff2') format('woff2'), url('./assets/fonts/Robotomedium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto Bold'), local('Roboto-Bold'), url('./assets/fonts/Robotobold.woff2') format('woff2'), url('./assets/fonts/Robotobold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto Black'), local('Roboto-Black'), url('./assets/fonts/Robotoblack.woff2') format('woff2'), url('./assets/fonts/Robotoblack.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}
:root {
  --black: #333333;
  --white: #ffffff;
  --green: #A4CC33;
  --greyC4: #c4c4c4;
  /* --darkBlue: #120a3d; */
  --darkBlue: #000035;
  --greenNormal: #4cc35b;
  --greenBright: #4cc35b;
  --yellow: #ffff00;
  --deepskyblue: #00bfff;
}

body {
  padding: 0;
  margin: 0;
  background-color: var(--grayE7);
  font-size: 16px;
  line-height: 19px;
  font-family: 'Roboto';
 
}

* {
  margin: 0;
  padding: 0;
  color: var(--greenMiddle);
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  padding: 0;
  border: 0;
  background: transparent;
  cursor: pointer;
}


